{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "generator-star-spacing": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "no-console": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": "off"
  },
  "plugins": ["import", "prettier", "react"]
}
