{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "consistent-return": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["sibling", "parent"], "index"],
        "newlines-between": "always"
      }
    ],
    "no-console": "off"
  },
  "plugins": ["import", "prettier"]
}
