{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "consistent-return": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["sibling", "parent"], "index"],
        "newlines-between": "always"
      }
    ],
    "no-console": "off",
    "react/jsx-filename-extension": "off"
  },
  "plugins": ["import", "prettier", "jest"]
}
