body {
    font-family: "roboto";
    background-color: #2d2d2d;
}

.node-manager {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.node-manager div {
    height: 100%;
    width: 100%;
}

.button {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    cursor: pointer;
}

.button > span {
    display: table-cell;
    vertical-align: middle;
}

.error-text {
    font-size: 5em;
    text-align: center;
    color: #e62747;
}

.error-msg-container {
    border-radius: 10px;
    padding: 15px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #4fdbe4;
}

.error-msg-container > pre {
    font-family: "roboto";
    white-space: pre-wrap;
    font-size: 0.8em;
}